body {
  font-family: 'Lato', sans-serif;
  padding: 60px 0;
}
header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.boxform {
  margin-bottom: 10px;
}
.boxform label {
  width: 120px;
}
