body {
  font-family: 'Lato', sans-serif;
}
.parrafo {
  background-color: yellow;
}
.caja1 {
  width: 100px;
  height: 100px;
  background-color: #4cae4c;
  margin-bottom: 10px;
}
.caja2 {
  width: 100px;
  height: 100px;
  background-color: #0b859c;
  margin-bottom: 10px;
  position: relative;
}
.box {
  margin-bottom: 20px;
}
