body {
  font-family: 'Lato', sans-serif;
  padding: 60px 0;
}
.box {
  margin-bottom: 20px;
}
select {
  display: block;
  margin-bottom: 20px;
  width: 300px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  margin-bottom: 20px;
  display: block;
}
