body {
  font-family: 'Lato', sans-serif;
}
header {
  background-color: #1F4788;
  margin-bottom: 40px;
  padding: 20px 0;
}
header h1 {
  color: #fff;
  font-weight: 600;
}
.forms .col-md-6 {
  margin-bottom: 20px;
}
#addEmpresa {
  padding: 40px 0;
}
#addEmpresa p:nth-child(even) {
  border-bottom: 1px solid #ddd;
}
